<section id="home">
	<p>Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
	<hr />
	<a class="btn btn-primary btn-block" href="#Register" role="button">Register</a>
	<a class="btn btn-primary btn-block" href="#Login" role="button">Login</a>
</section>