<section id="home">
	<p>Hola, {{username}}</p>
	<div class="form-group">
		<label for="fpc" class="col-md-3 control-label">Tu equipo de futbol favorito es:</label>
		<div class="col-md-9">
			<select id="fpc" class="form-control" ng-model="team" ng-change="update(team)">
				<option selected disabled value='0'>Seleccione un equipo</option>
				<option ng-repeat="team in teams" value="{{team.slug}}">{{team.name}}</option>
			</select>
		</div>
	</div>
	<section id="myteam">
		<hr />
		<h1>{{myteam.name}}</h1>
		<div class="img-team">
			<img src="{{myteam.img}}" />
		</div>
		<p><span>Estrellas:</span> {{myteam.stars}}</p>
		<p><span>Colores representativos:</span> {{myteam.colors}}</p>
		<p><span>Ciudad:</span> {{myteam.city}}</p>
		<p><span>Estadio:</span> {{myteam.stadium}}</p>
	</section>
</section>