<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand" href=""></a>
  <ul class="nav navmenu-nav">
    <li><a class="miteam" href="#/">Mi equipo</a></li>
    <li><a href="#NextGame">Próximo partido</a></li>
    <li><a href="#Stores">Tiendas</a></li>
    <li><a href="#" class="closeSession">Salir</a></li>
  </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top">
  <button id="openmenu" type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <button type="button" class="navbar-toggle" id="backbtn">
    <span class="glyphicon glyphicon-chevron-left" style="font-size: 14px;"></span></a>
  </button>
  <h1>MI EQUIPO</h1>
</div>