<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	<ui-gmap-markers models="Markers" coords="'self'" icon="'icon'">
		<ui-gmap-windows show="show">
			<div ng-non-bindable>{{title}}</div>
		</ui-gmap-windows>
	</ui-gmap-markers>
</ui-gmap-google-map>