<div id="loginbox">              
	<div style="padding-top:30px" class="panel-body" >
		<form id="loginform" class="form-horizontal" role="form" action="javascript:void(0)" method="post">
			<div class="form-group">
				<label for="username" class="col-md-3 control-label">Usuario</label>
					<div class="col-md-9">
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuario">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-md-3 control-label">Contraseña</label>
					<div class="col-md-9">
					<input id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button id="btn-login" class="btn btn-success btn-block">Ingresar</button>
				</div>
			</div>  
		</form>     
	</div>                     
</div>