<section id="nextgame">
	<h3>{{clash.team1}} vs {{clash.team2}}</h3>
	<section>
		<div class="img-team">
			<img src="{{clash.team1img}}" />
			<img src="{{clash.team2img}}" />
		</div>
		<p><span>Día:</span> {{clash.day}}</p>
		<p><span>Hora:</span> {{clash.hour}}</p>
		<p><span>Canal de TV:</span> {{clash.channel}}</p>
	</section>
</section>