<div id="signupbox"> 
		<div class="panel-body" >
			<form id="signupform" class="form-horizontal" action="javascript:void(0)" method="post" data-toggle="validator">
				<div class="form-group">
					<label for="username" class="col-md-3 control-label">Username</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="pasword" id="password" placeholder="Password" required>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<input type="submit" value="Register" class="btn btn-primary btn-block">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>