* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    text-transform:uppercase;
    font-size:24px;
    font-weight:normal;
    margin: 13px 0 0;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
    border: none;
}

.loading_fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 50%;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    display: none;
}
.container {
  margin-top: 50px;
}
#signupbox, #home, #nextgame{
    margin-top: 10px;
}
#myteam{
    display: none;
}
#myteam span, #nextgame span{
    font-weight: bold;
}

.img-team{
    text-align: center;
    margin: 10px;
}
#nextgame h3{
    font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#nextgame img{
    max-width: 40%;
    display:inline-block;
}
#map-canvas {
    height: 640px;
    width: 100%;
    margin: 0; padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.navmenu-nav {
  margin-top: 20px;
}
.angular-google-map-container { 
    height: 600px;
    width: 100%;
    margin: 0; padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
